<noscript>
  <style type="text/css">
    #contact{ display: none;}
  </style>
</noscript>

<script>document.cookie = "path=/; SameSite=Lax";</script>
<script type="text/javascript" src="/assets/js/core.min.js"></script>
<script type="text/javascript" src="/assets/js/init.min.js"></script>

{% if page.route == 'index' %}
  <!-- <script type="text/javascript" src="/assets/js/index.min.js"></script> -->
{% endif %}

{% if page.route == 'articles' %}
  <!-- <script type="text/javascript" src="/assets/js/articles.min.js"></script> -->
{% endif %}

{% if page.layout == 'post' %}
  <!-- <script type="text/javascript" src="/assets/js/post.min.js"></script> -->
{% endif %}
